:root{
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);

    --dark-gray: hsl(0, 0%, 59%);
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--dark-cyan);
    background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: right 40vw bottom 50vh, left 40vw top 50vh;
}
h1{
    font-size: 4rem;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card{
    background-color: white;
    width: 326px;
    border-radius: 16px;
    overflow: hidden;
    align-items: center;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.075);
    &-header{
        width: 100%;
        display: block;
    }
    &-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid rgba(153, 153, 153, 0.382);

        &-img{
            border: 5px solid white;
            border-radius: 100%;
            margin-top: -53px;
            background-color: white;
        }
        &-title{
            margin-top: 2rem;
            font-size: 2rem;
            span{
                color: var(--dark-gray);
            }
        }
        &-text{
            color: var(--dark-gray);
            font-size: 1.8rem;
            margin-top: 0;
            margin-bottom: 2rem;
        }
    }
    &-footer{
        display: flex;
        justify-content: space-evenly;

        &-text{
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
            p{
                letter-spacing: 1px;
            }
        }
    }

}
.flecha-izq{
    padding-right: 30px;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.507);
    cursor: pointer;

    &:hover{
        color: rgba(255, 255, 255, 0.808);
    }
}
.flecha-der{
    padding-left: 30px;
    margin-bottom: 50px;
    color: rgba(255, 255, 255, 0.507);
    cursor: pointer;
    &:hover{
        color: rgba(255, 255, 255, 0.808);
    }
}
.input{
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    opacity: 0.7;
    border-radius: 10px;
    border: none;
    letter-spacing: 2px;
    &:hover{
        border: none;
    }
}
.btn-poke{
    width: 100%;
    margin-bottom: 10px;
    padding: 7px;
    background-color: #149fdfbb;
    border-radius: 6px;
    cursor: pointer;
}